@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Reenie+Beanie&family=Sixtyfour+Convergence&display=swap");

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  margin: 0;

  background-color: #ffce00;
  --color: #f6c205;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 85px 85px;
}

header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px); 
  align-items: center;
}

footer {
  margin: 0 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  align-items: baseline;
}
.wrapper {
  width: 50%;
}

h1 {
  display: inline-block;
  width: 0;
  border-right: 4px solid black;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(27, end),
    blink-caret 0.5s step-end infinite alternate;
  width: 18ch;
}

/* Additional style to handle second line */
.line-break {
  display: inline-block; /* Ensures the animation works for each line */
  overflow: hidden; /* Hides overflow */
  white-space: nowrap; /* Prevents line wrap */
}


#background-svg-2 {
  width: 140px;
  height: 140px;
  /* ANIMATE */
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -100;
}

#background-svg-1 {
  width: 100px;
  height: auto;
  position: absolute;
  top: 10%;
  left: 15%;
  z-index: -1000;
  animation: spin 8s linear infinite;
}

#background-svg-3 {
  width: 80px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: -1000;
  animation: spin 6s linear infinite reverse;
}

#background-svg-4 {
  width: 100px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: -1000;
  animation: spin 10s linear infinite;
}

#background-svg-5 {
  width: 120px;
  height: auto;
  position: absolute;
  bottom: 15%;
  right: 20%;
  z-index: -1000;
  animation: spin 12s linear infinite reverse;
}

button {
  font-family: "Lexend Mega", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.5px;
}
section {
  margin: 0 10%;
  flex: 1;
}

input::placeholder {
  font-family: "Lexend Mega", sans-serif;

  color: #333333;
  opacity: 0.5;
}

input[type="text"]
{
  font-family: "Lexend Mega", sans-serif;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#input-zone {
  /* border: 6px black solid; */
  border: 4px solid #05060f;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #1bedca;
  margin-bottom: 30px;
  transition: 0.3s ease;
}

#input-zone div {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#input-zone:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

#input-zone label {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin: 12px;
  margin: 0;
}

#input-zone button {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #ffce00;
  border: 4px solid black;
  transition: 0.3s ease;
  border-radius: 8px;
  align-items: center;
}

#input-zone:hover button{
  background-color: #4fe803;
}

#input-zone:hover button:hover{
  transform: scale(1.05);
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
}

#inputs {
  height: 60px;
  display: flex;
  align-items: center;
}
#note-input, #instant-paste {
  height: 100%;
  text-wrap: nowrap;
  margin-left: .5rem;
}



#note-input {
  padding: 12px 20px;
  width: 100%;
  border: 4px solid black;
  border-radius: 12px;
  transition: 0.3s ease;
  background: white;
  outline: none;
  margin: 0;
}

#input-zone:hover #note-input {
  border-color: #ffce00;
}

#input-zone:hover #note-input:focus {
  border-color: #48dc00;
}



#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  background: white;
  padding: 2rem;
  border: 4px solid #05060f;
  overflow: hidden;
  font-size: 30px;
  gap: 1rem;
  min-height: 300px;
  flex-direction: column; 
  flex: 0 1 calc(48%); 
  margin-bottom: 4%;
}

.note:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

.note-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

.note-heading {
  margin: 0;
  margin-bottom: 12px;
  color: #333333;
  font-size: 0.8em;
}

.note-text {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  overflow-wrap: break-word;
  font-size: 1em;
  color: #333333;
}

.footer-text {
  font-size: 1em;
}

.note-date {
  color: #a0a0a0;
  font-size: 0.5em;
  width: 100%;
}

.copy-btn {
  display: flex;
  /* border: none; */
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  /* color: white; */
  background: #48dc00;
  /* stroke: white; */

  border: 2px solid black;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
}
.copy-btn div svg {
  /* stroke: white; */
}

/* .copy-btn.active {
  background-color: #4fe803;
  color: white;
  cursor: pointer;
  transform: 0.3s;
}

.copy-btn.active i {
  stroke: white;
} */

.copy-btn:hover {
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
  transform: scale(1.05);
}

.delete-btn {
  display: flex;
  border-radius: 8px;
  padding: 8px 16px;
  background: #ff4910;
  cursor: pointer;
  /* color: white; */
  border: 2px solid black;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
}

.delete-btn:hover {
  background: #d73605;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

#coffee {
  height: 60px !important;
  width: 217px !important;

  /* border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black; */

  border-radius: 1rem;
  /* background: white; */
  /* padding: 1rem; */
  border: 0.5vmin solid #05060f;
  overflow: hidden;
  /* box-shadow: 0.4rem 0.4rem #05060f;
  color: black; */
  font-size: 30px;
  transition: 0.3s ease;
}

#coffee:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18ch; /* Match this to the width set above */
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@media (max-width: 641px) {  /* For small screens */
  .note {
    flex: 0 1 100%; 
  }
}

