@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Reenie+Beanie&family=Sixtyfour+Convergence&display=swap");

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  margin: 0;


  background-color: #ffce00;
  --color: #f6c205;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  /* background-size: 85px 85px;


  background-color: #f8f5f2;
  --color: #fff8f4;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent); */
  background-size: 220px 220px;
}

header {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px); 
  align-items: center;
}

footer {
  margin: 0 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  align-items: baseline;
}
.wrapper {
  width: 50%;
}

h1 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
}

.line-break {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Reenie Beanie", cursive;
  font-size: 4rem;
  border-right: 2px solid black;
  animation: typing 3s steps(20, end) forwards, /* Typing effect */
             blink-caret 0.5s step-end infinite; /* Continuous blink while typing */
  width: 0;
  margin: 0;
  color: #ff4910;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 20ch;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}


.draggable {
  cursor: grab;
}

.draggable.dragging {
  opacity: 0.5;
  background: #1bedca;
}


/* MAIN */
#header-shape {
  width: 160px;
  height: 160px;
  animation: spin 8s linear infinite;
  z-index: -1000;
}

.background-svg {
  position:fixed;
  /* transition: top 0.5s ease, left 0.5s ease, width 0.5s ease; */
  z-index: -1000;
  animation: spin 8s linear infinite;
  display: none;
}



button {
  font-family: "Lexend Mega", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.5px;
}
section {
  margin: 0 10%;
  flex: 1;
}

input::placeholder {
  font-family: "Lexend Mega", sans-serif;

  color: #333333;
  opacity: 0.5;
}

input[type="text"]
{
  font-family: "Lexend Mega", sans-serif;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#input-zone {
  /* border: 6px black solid; */
  border: 4px solid #05060f;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #1bedca;
  margin-bottom: 30px;
  transition: 0.3s ease;
  position: relative;
}

#input-zone img {
  position: absolute;
  left: -2rem;
  top: -2rem;
  width: 50px;
  height: auto;
  transition: .3s ease;
}

#input-zone:hover img {
  transform: scale(1.2);
}


#input-zone:hover .gesture {
  display: inline-block;
  animation: gesture 4s ease-in-out infinite;
}

@keyframes gesture {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-30deg); /* First downward motion */
  }
  40% {
    transform: rotate(45deg);  /* First upward peak */
  }
  60% {
    transform: rotate(-20deg); /* First return downward */
  }
  80% {
    transform: rotate(20deg);  /* Second upward peak */
  }
  100% {
    transform: rotate(0deg);   /* Back to neutral */
  }
}

#input-zone div {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

#input-zone:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

#input-zone label {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin: 12px;
  margin: 0;
}

#input-zone button {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #ffce00;
  border: 4px solid black;
  transition: 0.3s ease;
  border-radius: 8px;
  align-items: center;
}

#input-zone:hover button{
  background-color: #4fe803;
}

#input-zone:hover button:hover{
  transform: scale(1.05);
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
}

#inputs {
  height: 60px;
  display: flex;
  align-items: center;
}
#note-input, #instant-paste {
  height: 100%;
  text-wrap: nowrap;
  margin-left: .5rem;
}



#note-input {
  padding: 12px 20px;
  width: 100%;
  border: 4px solid black;
  border-radius: 12px;
  transition: 0.3s ease;
  background: white;
  outline: none;
  margin: 0;
}

#input-zone:hover #note-input {
  border-color: #ffce00;
}

#input-zone:hover #note-input:focus {
  border-color: #48dc00;
}



#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.note {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background: white;
  padding: 2rem;
  border: 4px solid #05060f;
  overflow: hidden;
  font-size: 30px;
  gap: .5rem;
  min-height: 300px;
  flex-direction: column; 
  flex: 0 1 calc(49%); 
  margin-bottom: 24px;
}

.note:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

.note-header {
  display: flex;
  justify-content: flex-end;
}

/* .note-header:last-child {
  margin-left: 8px;
} */

.edit {
  cursor: pointer;
  margin-left: 8px;
}

.accept {
  cursor: pointer;
  margin-left: 8px;
  display: none
}

.discard {
  cursor: pointer;
  margin-left: 8px;
  display: none
}


.note-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-actions {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  gap: 8px;
  /* align-items: end; */
}

.note-title {
  margin: 0;
  /* margin-bottom: 4px; */
  color: #333333;
  font-size: 0.8em;
  width: 100%;
}


.note-text {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #333333;

  /* Flexbox for multi-line clamping */
  display: -webkit-box;          /* Use the flexible box layout */
  -webkit-box-orient: vertical;  /* Orient the box vertically */
  -webkit-line-clamp: 6;         /* Set the number of lines to display */
  overflow: hidden;               /* Hide the overflow text */
  text-overflow: ellipsis;       /* Show ellipsis for overflow */
}


.footer-text {
  font-size: 1em;
}

.note-date {
  color: #a0a0a0;
  font-size: 0.5em;
  width: 100%;
  margin: 8px 0;
}

.copy-btn {
  display: flex;
  /* border: none; */
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;

  background: #48dc00;

  border: 2px solid black;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;

  align-items: center;
  gap: 8px;
  font-size: 1rem;
}


.copy-btn:hover {
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
  transform: scale(1.05);
}

.delete-btn {
  display: flex;
  border-radius: 8px;
  padding: 8px 16px;
  background: #ff4910;
  cursor: pointer;
  /* color: white; */
  border: 2px solid black;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
}

.delete-btn:hover {
  background: #d73605;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

#coffee {
  height: 60px !important;
  width: 217px !important;

  /* border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black; */

  border-radius: 2rem;
  /* background: white; */
  /* padding: 1rem; */
  border: 0.5vmin solid #05060f;
  overflow: hidden;
  /* box-shadow: 0.4rem 0.4rem #05060f;
  color: black; */
  font-size: 30px;
  transition: 0.3s ease;
}

#coffee:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media (max-width: 1000px) {  /* For small screens */
  .note {
    flex: 0 1 100%; 
  }
}

