@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Mega:wght@100..900&family=Reenie+Beanie&family=Sixtyfour+Convergence&display=swap");

::-moz-selection {
  /* Code for Firefox */
  background: rgb(249, 222, 75);
  /* background: rgb(46, 4, 245); */
}

::selection {
  background: rgb(249, 222, 75);

  /* background: rgb(46, 4, 245); */
}

p {
  margin: 0;

  text-align: center;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

/* li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 2rem;
  background: rgb(201 206 255 / 98%);
  border: 4px solid #05060f;
  font-size: 1rem;
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  will-change: transform;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #00bf9f;
  border-radius: 1rem;
  gap: .5rem;

  background-color: red;
} */

body {
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  margin: 0;

  background-color: rgb(254, 254, 239);

  /* --color: rgb(252, 243, 209);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 180px 180px; */


  
  position: relative;

  overflow-x: hidden;
}

header {
  /* margin: 30px; */
  /* display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  align-items: center;

  margin: 30px 8rem; */

  /* margin: 30px; */
  display: flex;
  justify-content: center;
  /* width: calc(100% - 60px); */
  align-items: center;
  /* margin: 60px 8rem; */

  margin: 3rem 8rem 1rem 8rem;
  text-align: center;
  flex-direction: column;
  z-index: 500;
}

footer {
  /* margin: 0 30px 30px 30px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);
  align-items: baseline; */

  /* margin: 0 30px 30px 30px; */
  /* margin: 30px 8rem; */
  display: flex;
  justify-content: space-between;
  /* width: calc(100% - 60px); */
  align-items: flex-end;
  position: relative;

  margin: 2rem 8rem 2rem 8rem;
  /* overflow: hidden; */
}

footer div {
  display: flex;
  align-items: center;
}

#orb {
  width: 120vw;
  left: 100px;
  position: fixed;
  z-index: -2000;
}

#wire {
  width: 20vw;
  left: 140px;
  position: fixed;
  z-index: -2000;
  rotate: 45deg;
  top: 60px;
}

.wrapper {
  width: 50%;
}

h1 {
  /* margin: 0;
  white-space: nowrap;
  overflow: hidden; */

  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 500;
}

.line-break {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Reenie Beanie", cursive;
  font-size: 7rem;
  border-right: 2px solid black;
  animation: typing 3s steps(11, end) forwards,
    blink-caret 0.5s step-end infinite;
  width: 0;
  margin: 0;
  font-weight: bold;
  background-color: #ffce00;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11ch;
  }
}

@keyframes blink-caret {
  0%,
  100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.draggable {
  cursor: grab;
}

.draggable.dragging {
  opacity: 0.5;
  /* background-color: #4fe803; */
}

#header-shape {
  width: 80px;
  animation: spin 8s linear infinite;
  padding-top: -200px;
  position: absolute;
  top: -8px;
  left: calc(50% - 50px);
  overflow: visible;
  z-index: 1;
}
#header-shape:hover {
  animation-play-state: paused; /* Pauses animation on hover */
}

#header-shape-2 {
  display: none;
  width: 150px;
  animation: spin 8s linear infinite;
  padding-top: -200px;
  /* position: absolute; */
  /* top: -8px; */
  /* left: calc(50% - 50px); */
  /* overflow: visible; */
  z-index: 1;
}

#header-shape-2:hover {
  animation-play-state: paused; /* Pauses animation on hover */
}

.background-svg-animate {
  position: absolute;
  z-index: -1000;
  animation: spin 16s linear infinite;
  display: none;

  /* Limit the size of shapes */
  max-width: 300px;
  max-height: 300px;
}

.background-svg, .shape-4, .shape-5, .shape-2 {
  position: absolute;
  z-index: -1000;
  display: none;
  max-width: 300px;
  max-height: 300px;
}

.shape-5 {
  left: 0;
  top: 0;
  display: block;
}

.shape-4 {
  /* top: 40px; */
  top: 0;
  transform: translateY(-50%);
  right: 10px;
  display: block;
}

.shape-2 {
  top: 40px;
  left: 50%;
  display: block;
}
button {
  font-family: "Lexend Mega", sans-serif;
  text-transform: uppercase;
  letter-spacing: -1.5px;
  font-weight: 500;
}
section {
  /* flex: 1;
  margin: 0 8rem;
  padding: 4rem; */

  background: rgb(201 206 255 / 98%);
  /* border-radius: 12px; */
/* 
  border: 4px solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  position: relative; */


  --color: rgb(252, 243, 209);
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 190px 190px;


  border-radius: 4rem 4rem 0 0;
  flex: 1;
  margin: 0 8rem;
  padding: 4rem;
  /* background: rgb(201 206 255 / 98%); */
  border: .5rem solid #05060f;
  box-shadow: 1rem 1rem #05060f;
  position: relative;
}

section > h2 {
  text-align: center;
  font-weight: bold;
}

@keyframes bubble {
  0% {
    transform: translate(50%, -50%) scale(1);
  }

  20% {
    transform: translate(50%, -50%) scale(1.2); /* Quick scale up */
  }

  50% {
    transform: translate(50%, -50%) scale(1); /* Return to original scale */
  }

  100% {
    transform: translate(50%, -50%) scale(1); /* Stay at original scale */
  }
}

@keyframes bubble-2 {
  0% {
    transform: translate(-50%, 50%) scale(1);
  }

  20% {
    transform: translate(-50%, 50%) scale(1.2); /* Quick scale up */
  }

  50% {
    transform: translate(-50%, 50%) scale(1); /* Return to original scale */
  }

  100% {
    transform: translate(-50%, 50%) scale(1); /* Stay at original scale */
  }
}

#bang-1 {
  position: absolute;
  right: -5px;
  top: 0;
  width: 150px;
  transform: translate(50%, -50%);
  animation: bubble 2s ease-in-out 1;
}

#bang-0 {
  position: absolute;
  left: 40px;
  top: -40px;
  width: 150px;
  transform: translate(50%, -50%);
  animation: bubble 2s ease-in-out 1;
}

#bang-4 {
  position: absolute;
  right: 40px;
  bottom: -30px;
  width: 150px;
  transform: translate(50%, -50%);
  animation: bubble 2s ease-in-out 1;
}

#bang-2 {
  position: absolute;
  left: 0;
  top: calc(70%);
  width: 80px;
  transform: translate(-50%, 50%);
  animation: bubble-2 2s ease-in-out 1;
}

#bang-1:hover {
  animation: bubble 2s ease-in-out infinite;
}

#bang-0:hover {
  animation: bubble 2s ease-in-out infinite;
}

#bang-2:hover {
  animation: bubble-2 2s ease-in-out infinite;
}

#bang-4:hover {
  animation: bubble 2s ease-in-out infinite;
}

input::placeholder {
  font-family: "Lexend Mega", sans-serif;

  color: #333333;
  opacity: 0.5;
}

#inputs input {
  font-family: "Lexend Mega", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

#input-zone {
  border: 4px solid transparent;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #1bedca;
  margin-bottom: 30px;
  transition: 0.3s ease;
  position: relative;
}

#stars {
  position: absolute;
  left: -2rem;
  top: -2rem;
  width: 50px;
  height: auto;
  transition: 0.3s ease;
}

#input-zone:hover #stars {
  transform: scale(1.4);
}

#input-zone:hover .gesture {
  display: inline-block;
  animation: gesture 4s ease-in-out infinite;
}

@keyframes gesture {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-30deg); /* First downward motion */
  }
  40% {
    transform: rotate(45deg); /* First upward peak */
  }
  60% {
    transform: rotate(-20deg); /* First return downward */
  }
  80% {
    transform: rotate(20deg); /* Second upward peak */
  }
  100% {
    transform: rotate(0deg); /* Back to neutral */
  }
}

#input-zone div {
  display: flex;
  align-items: center;
  margin: 12px 0;
  gap: 0.5rem;
}

#input-zone:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
  border: 4px solid #000000;
  transform: translate(1px, 1px);
}

#input-zone label {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
  margin: 12px;
  margin: 0;
}

#input-zone button {
  display: flex;
  padding: 8px 16px 8px 8px;
  cursor: pointer;
  background-color: #ffce00;
  border: 4px solid black;
  transition: 0.3s ease;
  border-radius: 8px;
  align-items: center;
  border-radius: 2rem;
}

#input-zone:hover button {
  background-color: #4fe803;
}

#input-zone:hover button:hover {
  transform: scale(1.05);
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
}

#inputs {
  /* height: 60px; */
  display: flex;
  align-items: center;
  /* background: black; */
  border-radius: 2rem;
}
#note-input,
#instant-paste {
  height: 100%;
  text-wrap: nowrap;
  /* margin-left: 0.5rem; */
  height: 60px;
}

#instant-paste {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  cursor: pointer;
}

#instant-paste .icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #05060f;
  border-radius: 50%;
}

.icon-circle img {
  filter: brightness(0) invert(1); /* Makes icon white */
}

#instant-paste img {
  width: 20px;
  height: 20px;
}

#note-input {
  padding: 12px 20px;
  width: 100%;
  border: 4px solid black;
  border-radius: 2rem;
  transition: 0.3s ease;
  background: white;
  outline: none;
  margin: 0;
}

#input-zone:hover #note-input {
  border-color: #ffce00;
}

#input-zone:hover #note-input:focus {
  border-color: #48dc00;
}

#note-message {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 2rem;
}

#note-message p {
  background-color: #ffce00;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  line-height: 1.6;
}


#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 1rem; */
  row-gap: 1rem;
}

.note {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background: white;
  /* padding: 2rem; */
  border: 4px solid #05060f;
  /* overflow: hidden; */
  font-size: 30px;
  /* gap: 0.5rem; */
  min-height: 300px;
  flex-direction: column;
  flex: 0 1 calc(49%);
  /* margin-bottom: 24px; */
  z-index: 1000;
}

.note:hover {
  transform: scale(1.01);
  transition: 0.3s ease;
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

.note-background {
  background: #fffccf;
  border-radius: 0 0 1.7rem 1.7rem;
}

.note-header {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #cbffdb;
  border-radius: 1.7rem 1.7rem 0 0;
  padding: 1rem 1rem 0.7rem 1rem;
}

.drag-handle {
  background: #a7fbc0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  border: 3px solid black;
  transition: 0.3s ease;
  padding: 0px 8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -3px);
}

/* .drag-handle:hover {
  background: #d8adfd;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
} */

.edit {
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
  background: #d4a2ff;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
  border-radius: 2rem;
  border: 4px solid #05060f;
  padding: 8px;
  /* margin: 0 8px; */
  margin-left: 8px;
}

.edit:hover {
  background: #d8adfd;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

.accept {
  cursor: pointer;
  margin-left: 8px;
  display: none;
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
  background: #d4a2ff;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
  border-radius: 2rem;
  border: 4px solid #05060f;
  padding: 8px;
  margin: 0;
  margin-left: 8px;
  display: none;

  background: #48dc00;
}

.accept:hover {
  background-color: #4fe803;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

.discard {
  cursor: pointer;
  margin-left: 8px;
  display: none;
  cursor: pointer;
  display: flex;
  padding: 8px 16px;
  /* background: #d4a2ff; */
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
  border-radius: 2rem;
  border: 4px solid #05060f;
  padding: 8px;
  margin: 0;
  margin-left: 8px;
  display: none;

  background: #ffce00;
}

.discard:hover {
  background-color: #ffdb4b;
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

.note-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-actions {
  display: flex;
  /* justify-content: flex-end; */
  justify-content: space-between;
  gap: 8px;
  /* align-items: end; */
  align-items: end;
  padding: 1rem;
}

.note-title {
  margin: 0;
  color: black;
  font-size: 0.8em;
  width: 100%;
  font-weight: bold;

  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* .note-text {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #333333;
  padding: 1rem;
  height: 100%;
  white-space: break-spaces;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: scroll;
} */

.note-text {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  color: #333333;
  padding: 1rem;
  box-sizing: border-box; /* Ensures padding is included in height calculations */

  height: calc(.93em* 8 + 2rem);
  white-space: break-spaces;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: scroll;
  text-overflow: ellipsis;
}

.note-content input,
textarea {
  border: none;
  margin-left: 0 0 0 -2px;
  outline: none;
  padding: 0;
  resize: none;

  /* background: aliceblue; */
  /* border-radius: 4px; */
  background: #fffccf;
  border-radius: 8px;
}

/* 
input .note-text{
  padding: 0;
  margin: 0;
} */

.footer-text {
  font-size: 1em;
}

.note-date {
  color: #a0a0a0;
  font-size: 0.5em;
  /* width: 100%; */
  /* margin: 8px 0; */
}

.copy-btn {
  display: flex;
  /* border: none; */
  padding: 8px 16px;
  cursor: pointer;

  background: #48dc00;

  /* border: 2px solid black; */
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;

  align-items: center;
  gap: 8px;
  font-size: 1rem;

  border-radius: 2rem;
  border: 4px solid #05060f;
}

.copy-btn:hover {
  box-shadow: 0.2rem 0.2rem #05060f;
  background-color: #4fe803;
  cursor: pointer;
  transform: scale(1.05);
}

.delete-btn {
  display: flex;
  padding: 8px 16px;
  background: #ff4910;

  /* background: #ffce00; */
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem #05060f;
  transition: 0.3s ease;
  border-radius: 2rem;
  border: 4px solid #05060f;
  padding: 8px;
  margin-left: 8px;
}

.delete-btn:hover {
  background: #d73605;
  /* background-color: #ffaa00; */
  box-shadow: 0.2rem 0.2rem #05060f;
  cursor: pointer;
  transform: scale(1.05);
}

#coffee {
  height: 60px !important;
  width: 217px !important;

  /* border: 0.5vmin solid #05060f;
  box-shadow: 0.4rem 0.4rem #05060f;
  overflow: hidden;
  color: black; */

  border-radius: 2rem;
  /* background: white; */
  /* padding: 1rem; */
  border: 0.5vmin solid #05060f;
  overflow: hidden;
  /* box-shadow: 0.4rem 0.4rem #05060f;
  color: black; */
  font-size: 30px;
  transition: 0.3s ease;
}

#coffee:hover {
  box-shadow: 0.4rem 0.4rem #05060f;
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1000px) {
  /* For small screens */
  #orb {
    top: 200px;
  }

  .shape-4 {
    /* display: none; */
    left: 50%;
  }

  .shape-5 {
   display: none;
  }

  .shape-2 {
    top: 300px;
    left: 20px;
    /* width: 10px; */
  }

  .shape-1 {
    display: none;
  }

  header {
    display: flex;
    margin: 3rem;
    text-align: left;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }
  section {
    margin: 0 3rem;
    padding: 2rem;
  }

  footer {
    margin: 2rem 3rem;
  }

  #bang-1 {
    width: 70px;
  }

  #bang-0 {
    width: 70px;
    top: -20px;
  }

  #bang-4 {
    width: 70px;
  }

  #inputs {
    flex-wrap: wrap;
  }

  .wrapper {
    width: auto;
  }

  .line-break {
    font-size: 4rem;
  }

  #header-shape {
    display: none;
  }
  #header-shape-2 {
    display: block;
  }
  .note {
    flex: 0 1 100%;
  }
}

@media (max-width: 550px) {
  /* For tiny screens */

  #header-shape {
    display: none;
  }
  #header-shape-2 {
    display: none;
  }

  .line-break {
    font-size: 2rem;
  }

  #bang-1 {
    display: none;
  }

  #bang-2 {
    display: none;
  }
  footer {
    margin: 1rem;
    display: block;
  }

  header {
    margin: 1rem;
    display: block;
  }

  section {
    margin: 1rem;
    display: block;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-radius: 2rem;
  }

  #orb {
    top: 50%;
    position: fixed;
  }

  #input-zone {
    padding: 1rem;
  }

  #input-zone label {
    font-size: 1rem;
  }
}
